<table>
  <%= render partial: 'shared/user', locals: { user: @user } %>
</table>

<table>
  <%- @user.achievements.each do |achievement| %>
    <%= render partial: 'shared/badge', locals: { badge: achievement.badge } %>
  <%- end %>
</table>
