<%- provide :head do -%>
   <%= stylesheet_link_tag :bounties -%>
<%- end -%>

<section class="container bounties">

  <h1>Unclaimed Bounties</h1>

  <%- unless @unclaimed_bounties.empty? %>
    <%= render partial: 'table', locals: { bounties: @unclaimed_bounties } %>
  <%- else %>
    <p>There are no unclaimed bounties.</p>
  <%- end %>

  <br/>
  <h1>Claimed Bounties</h1>

  <%- unless @claimed_bounties.empty? %>
    <%= render partial: 'table', locals: { bounties: @claimed_bounties } %>
  <%- else %>
    <p>There are no claimed bounties.</p>
  <%- end %>

  <br/>

  <%- if can? :create, Bounty %>
    <%= link_to 'New Bounty', new_bounty_path %>
  <%- end %>

</section>
