<%= image_tag badge_image_url(badge) %>
<div>
  <h3 class="badge-name"><%= badge.description %></h3>
  <p class="badge-description"><%= badge.tag %></p>
  <p class="badge-date"><%= time_ago_in_words(badge.created_at).capitalize %> ago</p>
</div>
