<%= image_tag badge_image_url(badge) %>
<div>
  <p class="badge-name"><%= badge.description %></p>
  <p class="badge-description"><%= badge.tag %></p>
  <p class="badge-date"><%= badge.created_at %></p>
</div>
