<div class="user">
  <span class="avatar"><%= image_tag user.avatar_url %></span>
  <span class="email"><%= link_to user.email, user %></span>
  <span class="total-score"><%= user.total_score %></span>
  <span class="total-badges"><%= user.total_badges %></span>
</div>
