// Colours

$primary-dark:           #076b7f
$primary-light:          #44cabe
$primary-ultra-light:    #eef6f7

$secondary-light:        #fcee55
$secondary-ultra-light:  lighten($secondary-light, 30%)

$tertiary:               #eef6f7