// Helpers be here

@mixin hl-clearfix
  &:after
    content: ""
    display: table
    clear: both

@mixin vag($weight:light)
  font-family: "VAGRounded-#{$weight}", Helvetica, Arial, sans-serif
  font-weight: normal