<%- provide :head do -%>
   <%= stylesheet_link_tag :welcome -%>
<%- end -%>

<%- provide :pre_main do -%>
  <div class="hero">
    <div class="container">
      <h2>Hilander turns work into a game. Be awesome, earn badges and become the leader!</h2>
    </div>
  </div>
<%- end -%>

<ul class="ranking">

  <li class="running">
    <h2>Leaderboard</h2>
    <h3>
      Have we piqued your interest? Let's stay in touch!  Register your interest at <a href="//hilander.io">hilander.io</a>
    </h3>
  </li>

  <%- @users.each_with_index do |user, i| -%>
      <%= render partial: "shared/" << (i > 19 ? "simple_" : "") << "rankee", locals: { rankee: OpenStruct.new(user: user, index: i + 1) } %>
  <%- end -%>

</ul>
