<%- provide :pre_main do -%>
<div class="hero">
  <h2><em>Highlander</em> is Hooroo's office game. Earn badges and climb to the top of the rankings</h2>
</div>
<%- end -%>

<table class="ranking">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Email</th>
    <th>Score</th>
    <th>Badges</th>
  </tr>

  <%- @users.each do |user| -%>
    <%= render partial: 'shared/user', locals: { user: user } %>
  <%- end -%>
</table>
