<%- provide :pre_main do -%>
<div class="hero">
  <h2><em>Highlander</em> - Be awesome at your job, earn badges and become the leader</h2>
</div>
<%- end -%>

<table class="ranking">
  <tr>
    <th></th>
    <th></th>
    <th>Score</th>
    <th>Badges</th>
  </tr>

  <%- @users.each do |user| -%>
    <%= render partial: 'shared/user', locals: { user: user } %>
  <%- end -%>
</table>
