<%- provide :pre_main do -%>
<div class="hero">
  <h2><em>Highlander</em> - Be awesome at your job, earn badges and become the leader</h2>
</div>
<%- end -%>

<table class="ranking">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Total Score</th>
      <th scope="col">Badges</th>
    </tr>
  </thead>

  <tbody>
  <%- @users.each do |user| -%>
    <tr>
      <td class="avatar"><%= image_tag user.avatar_url %></td>
      <td class="name"><%= link_to user.name, user %></td>
      <td class="total-score"><%= user.total_score %></td>
      <td class="total-badges"><%= user.total_badges %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
