<%- provide :head do -%>
   <%= stylesheet_link_tag :pages -%>
<%- end -%>

<section class="info-block about main-column">

  <em>There can be only one...</em>

  <p>Hilander turns work into a game.</p>

  <p>
    We value:
    <ul>
      <li>Inclusivity</li>
      <li>Encouraging &amp; Rewarding Great Work</li>
      <li>Badges</li>
      <li>Fun</li>
      <li>Mexican Cuisine</li>
      <li>Ping Pong</li>
    </ul>
  </p>

  <p>
    Team Hilander:
    <ul>
      <li>
        <%= link_to image_tag("http://gravatar.com/avatar/849260e453deb462f0a0037697d1004b.png?s=120"), "http://twitter.com/ashmckenzie" %>
        Ash McKenzie
      </li>
      <li>
        <%= link_to image_tag("http://gravatar.com/avatar/d073dfaa15b881dfd244ea57103ec1b4.png?s=120"), "http://twitter.com/ashmckenzie" %>
        Dan Bradford
      </li>
      <li>
        <%= link_to image_tag("http://gravatar.com/avatar/fc51a02ea00b73f141d4a923473a4280.png?s=120"), "http://twitter.com/ashmckenzie" %>
        Stu Liston
      </li>
    </ul>
  </p>

  <p>

  </p>

</section>
