@font-face
  font-family: 'VAGRounded-thin'
  src: font-url('VAGRoundedStd-Thin.eot')
  src: local("☺"), font-url('VAGRoundedStd-Thin.ttf') format("truetype"), font-url('VAGRoundedStd-Thin.svg') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'VAGRounded-light'
  src: font-url('VAGRoundedStd-Light.eot')
  src: local("☺"), font-url('VAGRoundedStd-Light.ttf') format("truetype"), font-url('VAGRoundedStd-Light.svg') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'VAGRounded-black'
  src: font-url('VAGRoundedStd-Black.eot')
  src: local("☺"), font-url('VAGRoundedStd-Black.ttf') format("truetype"), font-url('VAGRoundedStd-Black.svg') format("svg")
  font-weight: normal
  font-style: normal

