.ranking
  width: 100%

  tr
    &:nth-child(2n)
      background: $primary-ultra-light
    &:hover
      background: $secondary-ultra-light

  td
    padding: .5em

  .avatar
    width: 100px

    img
      border-radius: 100%
      display: block