.ranking
  width: 100%

  tr
    &:nth-child(2n)
      background: $primary-ultra-light
    &:hover
      background: $secondary-ultra-light

  th
    height: 40px

  td
    padding: .5em

  .total-score, .total-badges
    text-align: center
