.ranking
  list-style: none
  padding: 0
  margin: 0
  width: 100%

  ul
    list-style: none
    padding: 0

.rankee
  border-bottom: 1px solid palette(5, lighten, 55)
  overflow: hidden
  padding: 1em 0
  position: relative

  &:nth-child(2n+1)
    background: palette(5, lighten, 65)

  &:first-child

    .rank
      +nice-font(black)
      color: palette(5)
      font-size: 5.5rem
      text-shadow: 0 2px 0 palette(5, lighten, 30)
    .scores
      .total-score, .total-badges
        span
          color: palette(5)


  p
    margin: 0

  .rank
    +span-columns(1 of 8)
    +nice-font(bold)
    +omega
    color: palette(3, lighten, 5)
    font-size: 2.2rem
    line-height: 90px
    text-align: center
    text-shadow: 0 1px 0 palette(4)

  .avatar
    float: left
    margin-right: 5%

  img
    border-radius: $radius
    display: block

  .details
    +span-columns(5 of 8)

    .name
      +nice-font(regular)
      font-size: 1.3rem

    .bio
      color: palette(6)
      font-size: .8rem
      line-height: 1.3em
      margin-top: .5em

  .scores
    list-style: none

    .total-score, .total-badges
      +span-columns(1 of 8)
      margin-top: 2em
      span
        color: palette(3)

  .last-updated
    color: palette(6, lighten, 10)
    font-size: .7rem
    margin-top: 1em
