body
  background: palette(1, lighten, 25)
  color: palette(4)

#main-header
  background: palette(1, lighten, 25)
  height: 80px

  a
    color: palette(2)

  h1
    +span-columns(4)
    line-height: 80px
    float: left
    font-size: 2.2rem
    margin-bottom: 0
    margin-top: 0

  nav
    +shift(5)
    +span-columns(3)
    float: left
    margin-top: 0

  ul
    list-style: none
    overflow: auto
    padding: 0

  li
    float: left
    width: 30%

.hero
  background: palette(2)
  color: palette(1, lighten, 25)
  clear: both
  height: 300px
  padding-top: 40px
  text-align: center
  text-shadow: 0 1px 0 palette(3)

  h2
    +vag(thin)
    font-size: 2.4rem
    line-height: 1em
    margin: 0

.container
  +outer-container

#main-container
  margin-bottom: 30px
  margin-top: 30px

  .main-column
    +box-shadow(0 0 15px 0px rgba(palette(4), 1))
    background: #fff
    padding: 1em