body
  background: palette(1, lighten, 25)
  color: palette(6)
  -webkit-font-smoothing: antialiased

#main-header
  background: palette(1, lighten, 25)
  height: 80px

  a
    color: palette(2)

  h1
    +span-columns(4)
    line-height: 80px
    float: left
    font-size: 2.2rem
    margin-bottom: 0
    margin-top: 0
    position: relative
    z-index: 99

    a
      +hide-text
      display: block
      height: 137px
      position: absolute
      top: -40px
      width: 181px

      +media($phone)
        height: 82px
        top: 5px
        width: 109px

    img
      height: 100%
      width: 100%

  nav
    +shift(1)
    +span-columns(7)
    margin-top: 0

  ul
    +clearfix
    list-style: none
    margin-top: 20px
    padding: 0

  li
    +span-columns(2 of 12)
    height: 35px
    line-height: 35px
    float: left

    +media($phone)
      +span-columns(1 of 1)

    &.username
      +span-columns(8 of 12)
      font-size: .9em
      text-align: right

      +media($phone)
        +span-columns(1 of 1)

    &.sign-in
      +shift(10)

      +media($phone)
        +shift(0)

    a
      +hl-button

.hero
  background: palette(2, $texture: true)
  color: palette(1, lighten, 25)
  clear: both
  height: 300px
  padding-top: 50px
  text-align: center
  text-shadow: 0 2px 0 palette(3, darken, 10)

  +media($phone)
    height: 280px
    padding-top: 20px

  h2
    +nice-font
    font-size: 2.5rem
    line-height: 1.1em
    margin: 0

    +media($phone)
      font-size: 1.75rem
      padding: 0 1em

.container
  +outer-container

#main-container
  +box-shadow(0 0 10px 0px rgba(palette(4), .2))
  background: palette(1, lighten, 100)
  // margin-top: 5px
  margin-bottom: 30px
  position: relative
  z-index: 0

.main-column
  +span-columns(8)

.sidebar
  +span-columns(4)
  border-left: 1px solid palette(5, lighten, 55)
  position: absolute
  right: 0
  height: 100%
