h1, h2, h3, h4, h5, h6
  font-family: "VAGRounded-Light", Helvetica, Arial, sans-serif
  font-weight: normal
  // letter-spacing: -.1rem

a
  color: $primary-dark
  text-decoration: none
  &:hover
    color: darken($primary-dark, 10%)

.top-header
  a
    color: #fff
  nav a
    font-size: .9rem


.hero
  h2
    font-family: "VAGRounded-Thin", Helvetica, Arial, sans-serif
    leyy