.user-details

  .avatar
    +span-columns(2 of 6)
    float: left
    margin: 0
    img
      border-radius: 5px
      display: block

  .info-block
    +span-columns(4 of 6)
    min-height: 150px

    h2
      margin: 0

    .bio
      color: desaturate(lighten($primary-dark, 10%), 1%)
      font-size: .9rem
      font-style: italic

    .stats
      background: #f7f7f7
      color: #aaa
      border-radius: 3px
      font-size: .6rem
      list-style: none
      padding: 1em
      overflow: auto

      li
        +span-columns(2 of 4)
        border-right: 1px solid #ccc
        text-transform: uppercase
        &:last-child
          border: none

      span
        color: $primary-dark
        display: block
        font-size: 1.6rem
        font-weight: bold