.user

  float: left

  .avatar, .name-email
    float: left

.score

  float: right

  th
    text-align: left

  th, td
    padding: 6px

.achievements

  clear: both

.avatar
  width: 100px

  img
    border-radius: 100%
    display: block
