// Mixins
@mixin hl-button
  +transition(opacity, .4s)
  background: palette(5)
  border: none
  color: palette(1, lighten, 50)
  cursor: pointer
  border-radius: $radius
  display: block
  font-size: .75rem
  font-weight: bold
  text-align: center
  text-shadow: 0 2px 0 palette(5, darken, 10)
  text-transform: uppercase
  &:hover
    background: palette(5, lighten, 8)
  &.large
    font-size: 1.2rem

@mixin score
  color: palette(6)
  font-size: .8rem
  text-transform: uppercase
  span
    +nice-font(black)
    color: palette(5)
    display: block
    font-size: 2.5rem
    line-height: 1em

@mixin scores
  list-style: none
  .total-score, .running-score, .total-badges
    +score

@mixin single-column
  +span-columns(10)
  +shift(1)
  +media($not-phone)
    +span-columns(8)
    +shift(2)

@mixin blurb
  +nice-font(regular)
  font-size: 1.8rem
  text-align: left
  margin-top: 1em
  p
    font-size: 1.2rem

@mixin structural-list
  list-style: none
  padding: 0


// To be used in special cases only
@mixin clrfx
  background: none
  clear: both
  display: block
  float: none
  height: 0px


// Classes
.button
  +hl-button

.scores
  +scores

.clrfx
  +clrfx

.blurb
  +blurb

.single-column
  +single-column