@import "utils"
@import "common/widgets"
@import "common/**/*"

#main-container
  margin-top: -182px

section.registrations
  padding: 0 10px 10px 10px
  text-align: center

  section.organisations
    clear: both
    padding-top: 10px

  ul.organisations
    display: table
    margin: 0 auto
    padding: 0
    text-align: center
    li
      display: table-cell
      list-style: none
      width: 180px
      img
        border-radius: 300px

  form
    .field
      padding: 10px 0

    .actions
      padding: 20px 0

    #error_explanation
      li
        list-style: none

    // input
    //   clear: both
    //   margin: 8px auto
    //   padding: 10px
    //   +span-columns(8)
    //   +shift(1)
    //   &[type="text"]
    //     font-size: 1.6em
    //     text-align: center
    //     +span-columns(12)
    input
      margin: 8px auto
      padding: 10px
      &[type="submit"]
        +shift(4)
        +span-columns(4)
      &[type="text"]
        font-size: 1.6em
        text-align: center
        +span-columns(12)

    textarea
      height: 150px

    input.button
      border: 0
      padding: 12px

// =================================================
// -----------------Media Queries-------------------
// =================================================

+media($not-phone)
  section.registrations

    section.organisations
      padding-top: 20px

    form
      input
        margin: 8px auto
        padding: 10px
        +shift(3)
        &[type="submit"]
          +shift(5)
          +span-columns(2)
        &[type="text"]
          font-size: 1.6em
          text-align: center
          +span-columns(6)
