@import "utils"

h2
  margin: 0

.user-details
  +hl-clearfix
  margin-bottom: 30px

  .avatar
    +span-columns(2 of 8)
    margin-top: 0
    img
      border-radius: 5px
      display: block

.info-block
  +span-columns(6 of 8)
  +omega()
  min-height: 150px

  .bio
    color: desaturate(lighten($primary-dark, 10%), 1%)
    font-size: .9rem
    font-style: italic

  .stats
    background: $primary-ultra-light
    color: #aaa
    border-radius: 3px
    font-size: .6rem
    list-style: none
    padding: 1em
    overflow: auto

    li
      +span-columns(2 of 4)
      border-right: 1px solid lighten($primary-light, 30%)
      text-transform: uppercase
      &:last-child
        border: none

    span
      color: $primary-dark
      display: block
      font-size: 1.6rem
      font-weight: bold


.badges
  +span-columns(5 of 8)
  padding-top: 1em

  ul
    list-style: none
    padding: 0

  li
    +span-columns(1 of 4)
    +omega(4n)
    margin-bottom: 1em
    position: relative

    img
      cursor: pointer
      display: block
      margin: 0 auto
      max-width: 80px

    div
      +box-shadow(0 0 15px 1px rgba($primary-dark, .5))
      background: $primary-dark
      border-radius: 3px
      color: #fff
      display: none
      height: 90px
      left: 0
      position: absolute
      padding: .5em 1em
      top: -100px
      left: -5.5em
      width: 16em

    h3
      margin: 0 0 .1em
    p
      font-size: .9rem
      margin: 0 0 .5em
      &.badge-date
        font-size: .8rem



    &:hover div
      display: block
      z-index: 99


.summary
  +span-columns(3 of 8)
  +omega()
  background: $primary-ultra-light
  padding: 1em

  ul
    padding: 0
    list-style: none